body { 
    width:100%; 
    font-size: 15px;
    font-family: 'Big Shoulders Display', cursive;
    background-color: hsla(0, 0%, 100%, 0.75);
}

button {
    position: center;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.75);
    border-radius: 5rem;
    color: hsl(31, 77%, 52%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

.box{
    position: relative;
    padding: 2rem;
}

.container {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(25rem, auto);
    
}

.sedans {
    grid-column: 1;
    background-color: hsl(31, 77%, 52%);
    border-start-start-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.suvs {
    grid-column: 2;
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    grid-column: 3;
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}